<%# navigation for site %>
<ul class="navigation">
  <li>
      <%= link_to 'user profile', user_path(current_user) %>  
      <%= link_to 'Create Album', new_user_album_path(current_user)  %> 
      <%= link_to 'All Users', user_index_path %>
      
    <% if  current_user.uid.present? %>
      <div> <h1> 
        <%= link_to 'facebook albums', facebook_album_user_albums_path(current_user) %>
      </h1> </div>
    <% end %> 
  </li>
</ul>