<%# navigation for site %>
<ul class="navigation">
  <!-- <li><a href="/user/index">All Users Profile<span class="ui_icon home"></span></a></li>
  <li><a href="/user/album">Timeline<span class="ui_icon aboutus"></span></a></li>
  <li><a href="#services">Friends<span class="ui_icon services"></span></a></li>
  <li><a href="#gallery">Gallery<span class="ui_icon gallery"></span></a></li>
   <li><a href="#contactus">Messeges<span class="ui_icon contactus"></span></a></li>
-->
<li>
  <%= link_to 'user profile', user_path(current_user) %>  
  <%= link_to 'Create Album', new_user_album_path(current_user)  %> 
  <%= link_to 'All Users', user_index_path %>
  
<% if  current_user.uid.present? %>
  <div> <h1> 
    <%= link_to 'facebook albums', facebook_album_user_albums_path(current_user) %>
  </h1> </div>
<% end %> 

</li>
</ul>